@keyframes slide {
  0% { border-bottom-left-radius: 0px; background-color: #aa000000; color: #ffffff; }
  100% { border-bottom-left-radius: 15px;background-color: #a9ffffff; color: #8642ee; }
}

QDialog {
    background-color: #5a000000;
}

QPushButton {
    background-color: #70000000;
    color: #ffffff;
    border: none;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0px;
}

QPushButton:hover {
    background-color: #aa000000;
    color: #ffffff;
    font-size: 21px;
}

QPushButton:disabled {
    color: #8642ee;
    background-color: #a9ffffff;
    border-bottom-left-radius: 15px;
    margin-left: 10px;
}

QPushButton#quick_buttons {
    background-color: #80000000;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    border-radius: 0px;
}

QPushButton:hover#quick_buttons {
    background-color: #b2000000;
    color: #ffffff;
}