QVBoxLayout {
    padding: 110px;
}

QLabel {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

QLabel#label_logo {
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

QLineEdit {
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    padding: 5px;
    border-radius: 3px;
}

QCheckBox {
    color: #333333;
    font-size: 16px;
    margin-bottom: 30px;
}

QCheckBox::indicator {
    width: 25px;
    height: 25px;
}

QCheckBox::indicator:checked {
    image: url("res/icon/check_box.svg");
}

QCheckBox::indicator:checked:hover, QCheckBox::indicator:checked:pressed {
    image: url("res/icon/check_box_hover.svg");
}

QCheckBox::indicator:unchecked {
    image: url("res/icon/check_box_empty.svg");
}

QCheckBox::indicator:unchecked:hover, QCheckBox::indicator:unchecked:pressed {
    image: url("res/icon/check_box_empty_hover.svg");
}

QPushButton {
    background-color: #9010ee;
    color: #FFFFFF;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
}

QPushButton:hover {
    background-color: #7010dd;
}

QPushButton:pressed {
    background-color: #501099;
}