QVBoxLayout {
    padding: 110px;
}

QLabel {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
}

QLabel#label_logo {
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

QLineEdit {
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    padding: 5px;
    border-radius: 3px;
}

QPushButton {
    background-color: #9010ee;
    color: #FFFFFF;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
}

QPushButton:hover {
    background-color: #7010ee;
}

QPushButton:pressed {
    background-color: #5000aa;
}