QDialog {
    background-color: #ac000000;
}

QMessageBox {
    background-color: #ffffff;
}

QPushButton {
    background-color: #9010ee;
    color: #FFFFFF;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
}

QLineEdit {
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    padding: 5px;
    border-radius: 3px;
    margin-right: 80px;
}

QLabel#title {
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
}

QLabel#label {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-left: 100px;
}

QPushButton#change {
    background-color: #9010ee;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    margin-right: 120px;
    margin-bottom: 20px;
}

QPushButton#change:hover {
    background-color: #7010dd;
}

QPushButton#change:pressed {
    background-color: #501099;
}