QDialog.WindowApp {
    background-image: url("img/background.png");
}

QPushButton {
    background-color: #0078D7;
    color: #FFFFFF;
    border: none;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0px;
}

QPushButton:hover {
    background-color: #005CA9;
}

QPushButton:disabled {
    color: #0078D7;
    background-color: #f0f0f0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 15px;
}